<div class="main">
  <div class="row">
    <div class="row description">
      <div class="col-sm-2">
        <img src="assets/redDeadRedemption.png" alt="product image" />
      </div>
      <div class="col-sm-6">
        <p class="game-name">Red Dead Redemption 2</p>
        <p class="desc">Set in 1899 in a fictionalized version of the Western United States, the story centers on outlaw Arthur Morgan, a member of the Van der Linde gang dealing with the decline of the Wild West whilst attempting to survive against government forces, rival gangs, and other enemies.</p>
        <p class="game-release-date">April 20, 2018</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="row available">
          <span class="available">Available on:</span>
        <ul>
          <li>
            <div class="col-sm-5">
              <span class="console">PS4</span>
            </div>
            <div class="col-sm-3 text-right">
              <span class="price-and-buy"><button>$0.99</button></span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>