<div class="main">
  <div class="row">
    <app-game-description></app-game-description>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="row available">
        <ul>
          <li>
            <div class="col-sm-5">
              <span class="available">Available on: </span>
              <span class="console">PS4</span>
            </div>
            <div class="col-sm-3 text-right">
              <span class="price-and-buy"><button>$0.99</button></span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>