<div class="main">
  <div class="row">
    <div class="row description">
      <div class="col-sm-2">
        <img src="assets/godOfWar.jpg" alt="product image" />
      </div>
      <div class="col-sm-6">
        <p class="game-name">God Of War</p>
        <p class="desc">God of War is an action-adventure video game developed by Santa Monica Studio and published by Sony Interactive Entertainment (SIE). Released on April 20, 2018, for the PlayStation 4 (PS4) console, it is the eighth installment in the God of War series, the eighth chronologically, and the sequel to 2010's God of War III. Unlike previous games, which were loosely based on Greek mythology, this installment is loosely based on Norse mythology, with the majority of it set in ancient Norway in the realm of Midgard.</p>
        <p class="game-release-date">April 20, 2018</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="row available">
        <ul>
          <li>
            <div class="col-sm-5">
              <span class="available">Available on:</span>
              <span class="console">PS4</span>
            </div>
            <div class="col-sm-3 text-right">
              <span class="price-and-buy"><button>$0.99</button></span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>